.lnInvoice {
    text-align: center;
    h2{
        margin-top: 20px;
    }
    p {
        padding: 20px;
        width: 50%;
        word-break: break-all;
        margin: auto;
        border-radius: 20px;
        margin-top: 20px;
        background-color: rgb(223,223,223);
    }
}
