@import "./../styles/variables.scss";

.container {
    
    background: $bg;
    
    width: 80%;
    margin: 40px auto;

    h1 {
        padding: 1.5rem 2.5rem;
        background: linear-gradient(220deg, $primary, rgba($primary, 0.5));
        border-radius: $borderRadius calc(#{$borderRadius} * 10);
    }
}