@import "./../styles/variables.scss";
.card {
    max-width: 300px;
    margin: auto;
    text-align: left;
    font-family: arial;

    .cardHeader {
      display: flex;
      justify-content: space-between;

      .title {
        color: $dark;
        font-size: 18px;
        margin-right: 10px;
        display: inline-block;
      }
      
      .price {
        color: $dark;
        font-size: 18px;
        font-weight:bold;
        display: inline-block;
        text-align: right;
      }

    }
  
 

  img{
    width:100%;
    margin-bottom: 10px;
  }
  @keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba( 255, 125 , 125, 0 ) 0%, $primary 0%, $primary 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.3 ) 24%, #fff 25%, #fff 100%);
    }
    50% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.5 ) 49%, #fff 50%, #fff 100%);
    }
    75% {
      background: radial-gradient(circle at center, rgba( 255, 125, 125, 0.8 ) 74%, #fff 75%, #fff 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center, rgb(74, 0, 212) 99%, $primary 100%, $primary 100%);
    }
  }
  
  button {
    border: none;
    outline: 0;
    margin-top: 20px;
    padding: 12px;
    color: white;
    background-color: $primary;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    border-radius: 10px;
  }
  button:active {
    /* set time duration to your needs */
    animation: gradient 100ms;
    background: rgb(74, 0, 212);
    color: #fff;
    box-shadow: none;
  }
}
